<div class="mat-elevation-z8 content">
  <table mat-table class="full-width-table" [dataSource]="personData" matSort aria-label="Elements">

    <!-- <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container> -->


    <ng-container matColumnDef="FirstName">
      <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.firstName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="LastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.lastName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Gender">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Gender</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.gender}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="PhoneNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header>PhoneNumber</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.phoneNumber}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <i class="material-icons" (click)="personService.populateForm(row)">edit</i>
        <!-- <i class="material-icons">delete</i> -->
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Delete">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <!-- <i class="material-icons">edit</i> -->
          <i class="material-icons">delete</i>
        </mat-cell>
      </ng-container>
    <!-- <ng-container matColumnDef="LastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.lastName}}</mat-cell>
    </ng-container> -->
    <!-- <ng-container matColumnDef="DateOfBirth">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>DateOfBirth</th>
        <td mat-cell *matCellDef="let row">{{row.dob}}</td>
    </ng-container>
    <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef ></th>
        <td mat-cell *matCellDef="let row"><i class="material-icons">
            edit
            </i></td>
    </ng-container>
    <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef ></th>
        <td mat-cell *matCellDef="let row"><i class="material-icons">
            delete
            </i></td>
    </ng-container> -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>

  <!-- <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[5, 10, 20, 25,30,35,40,45,50]">
  </mat-paginator> -->
</div>

<table>
    <ng-container *ngFor="let per of personList">
        <tr>
            <td>{{per.firstName}}</td>
            <td>{{per.lastName}}</td>
            <td>{{per.dob}}</td>
            <td>{{per.gender}}</td>
            <td>{{per.country}}</td>
            <td>{{per.email}}</td>
            <td>{{per.phoneNumber}}</td>
            <td><button (click)="personService.populateForm(per)">Edit</button></td>
            <td><button (click)="deletePerson(per.$key)">Delete</button></td>
            
            
        </tr>

    </ng-container>
</table>
