/* You can add global styles to this file, and also import other style files */


@import '~@angular/material/theming';

// always include only once per project
@include mat-core();
@import 'themes.scss';

// specify theme class eg: <body class="my-theme"> ... </body>
.my-light-theme {
  @include angular-material-theme($my-light-theme);
}
.my-dark-theme {
    @include angular-material-theme($my-dark-theme);
}
.custom-light-theme {
    @include angular-material-theme($custom-light-theme);
  }
.custom-dark-theme {
      @include angular-material-theme($custom-dark-theme);
  }



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content{
    margin:5%;
    
}
.example-fill-remaining-space {

    flex: 1 1 auto;
  }