$my-theme-primary: mat-palette($mat-teal, 700, 300, 900);
$my-theme-accent: mat-palette($mat-light-blue);
$my-theme-warn: mat-palette($mat-deep-orange, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$my-light-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);
$my-dark-theme: mat-dark-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);

$custom-theme-primary: mat-palette($mat-light-blue);
$custom-theme-accent: mat-palette($mat-orange, A200, A100, A400);
$custom-theme-warn: mat-palette($mat-red);
$custom-light-theme: mat-light-theme(
    $custom-theme-primary,
    $custom-theme-accent,
    $custom-theme-warn
);
$custom-dark-theme: mat-dark-theme(
    $custom-theme-primary,
    $custom-theme-accent,
    $custom-theme-warn
);